body{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.langue{
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.space1{
  height: 30px;
}
.space2{
  height: 15px;
}
.box{
  position: relative;
  margin: auto;
  width: 240px;
}
button{
  color: white;
  border-color: transparent;
  background-color: rgb(62, 171, 229);
  border-radius: 7px;
  width: 245px;
  margin-top: 20px;
  margin-bottom: 10px;
  height: 33px;
  font-size: 13px;
  font-weight: bold;
}
.ou{
  text-transform: uppercase;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 600;
  color: gray;
  position: relative;
  line-height: 1.1538;
  background-color: rgb(255, 255, 255);
  width: 40px;
  left: 100px;
}
.ligne{
  top: 22px;
  height: 1px;
  flex-shrink: 1;
  position: relative;
  flex-grow: 1;
  background-color: rgb(161, 161, 161);
}
p{
  color: rgb(104, 104, 104);
  font-size: smaller;
}
span{
  color:rgb(0, 140, 255);
}
.inputs{
  margin-top: 22px;
}
.input{
  margin-top: 4px;
  height: 30px;
  width: 240px;
  font-size: 12px;
  background-color: rgb(246, 246, 246);
  border-width: 1px;
  border-color: rgb(221, 221, 221);
  border-style:solid;
  border-radius: 3px;
  color: rgb(59, 59, 59);
}
.span1{
  position: relative;
  left: 66px;
  top: 10px;
  font-size: 12px;
}
.span2{
  font-weight:600;
}
