body{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
  
}
.langue{
  font-weight: 100;
}
.box{
  position: relative;
  margin: auto;
  width: 210px;
}
.ou{
  text-transform: uppercase;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 600;
  color: gray;
  position: relative;
  line-height: 1.1538;
  background-color: rgb(255, 255, 255);
  width: 40px;
  left: 85px;
}
.ligne{
  top: 22px;
  height: 1px;
  flex-shrink: 1;
  position: relative;
  flex-grow: 1;
  background-color: rgb(161, 161, 161);
}
p{
  color: rgb(104, 104, 104);
  font-size: small;
}
span{
  color:blue;
}
.inputs{
  margin-top: 10px;
}
.input{
  margin-top: 4px;
  height: 25px;
  width: 210px;
  font-size: 11px;
  background-color: rgb(246, 246, 246);
  border-width: 0.5px;
  border-color: rgb(221, 221, 221);
  border-style:solid;
  border-radius: 3px;
  color: rgb(59, 59, 59);
}
.span1{
  position: relative;
  left: 52px;
  top: 10px;
  font-size: 12px;
}
button{
  color: white;
  border-color: transparent;
  background-color: rgb(62, 171, 229);
  border-radius: 7px;
  width: 215px;
  margin-top: 32px;
  margin-bottom: 10px;
  height: 28px;
  font-size: 13px;
  font-weight: bold;
}
.span2{
  font-weight:600;
}
